### Write a program that will find all numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a list.

In [4]:
# a % 7 == 0 and a % 5 != 0
lists = []
for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        lists.append(i)

In [5]:
print(lists)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [1]:
# Equality operators
# == - equal to
# != - not equal to
# > - greater than
# >= greater than equal to
# <  less than
# <= less than equal to

In [ ]:
# iterables 
# lists []
# tuples ()
# dictionary {:}
# sets {}

###  Write a program that can compute the factorial of a given number. (The factorial of n is the product of all positive integers less than or equal to n.) For example: For factorial(5)= 5 x 4 x 3 x 2 x 1 the result is 120 (i.e. factorial (0)=1).

In [24]:
def fact(n): 
    if n > 1:
        return n * fact(n - 1) 
    else:
        return 1

In [25]:
fact(10)

3628800

### With a given integer number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). Then, the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [43]:
def sqr(n):
    dic = {}
    for i in range(1, n+1):
        a = {i: i*i}
        dic.update(a)
        
    return dic

In [46]:
print(sqr(20))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [ ]:
1: 1*1 = 1: 1

In [ ]:
dic = {1: 1, 2: 4,c..., 8: 64 }

In [ ]:
2: 2*2 = 2: 4

### Given a non-empty string and an integral n, return a new string where the char at index n has been removed. The value of n will be a valid index of a char in the original string (i.e. n will be in the range 0..len(str)-1 inclusive)
missing_char('kitten', 1) → 'ktten'    for example here we remove "i" which is located in the index 1

missing_char('kitten', 0) → 'itten'   here we remove "k" which is in the index 0

missing_char('kitten', 4) → 'kittn'   here we remove "e" which is in the index 4

In [85]:
def missing_char(string, n):
    if n in range(0, len(string) - 1):
        
        return string.replace(string[n], '', 1)
    
    else:
        print(f'The string length is less than the integer. Try an integer that is less or equal to {len(string) - 1}.')

In [86]:
range(0, len('kitten') - 1)

range(0, 5)

In [87]:
missing_char('giraffe', 10)

The string length is less than the integer. Try an integer that is less or equal to 6.

In [71]:
missing_char('kitten', 6)

The string length is less than the integer. Try an integer that is less or equal to string length

In [78]:
missing_char('kitten', 4)

'kittn'

In [79]:
missing_char('kitten', 2)

'kiten'

In [80]:
missing_char('kitten', 0)

'itten'

### Write a NumPy program to convert a NumPy array into a Python list structure.
Expected output: 

Original array elements: [[0 1] [2 3] [4 5]] 

Array to list: [[0, 1], [2, 3], [4, 5]]

In [127]:
import numpy as np

arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr)

print(type(arr))

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
<class 'numpy.ndarray'>

In [128]:
arr2 = np.array([[0,1], [2,3], [4,5]])
arr2

array([[0, 1],
       [2, 3],
       [4, 5]])

In [125]:
def numpy_con(mat):
    list_mat = mat.tolist()
    return list_mat

In [134]:
numpy_con(arr)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]

In [130]:
numpy_con(arr2)

[[0, 1], [2, 3], [4, 5]]